*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url("https://picsum.photos/1920/1080");
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.btn{
    width: 50px;
    height: 50px;
}

.main{
    border: 2px solid #000000;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(180,142,62,1) 100%);
    opacity: 0.8;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0.5, 0, 0.5);
}
input{
    border: none;
    outline: none;
    font-size: 25px;
    background-color: transparent;
    border-bottom: 1px solid #000000;
    color: #0a0a0a;
    width: 85%;
    padding: 10px;
    margin-bottom: 10px;
}
button{
    float: right;
    cursor: pointer;
    width: 45px;
    height: 45px;
    border: none;
    background-color: transparent;
    color: #0a0a0a;
}

h1{
    margin-bottom: 10px;
    text-align: center;
}

.box-media{
    margin-top: 15px;

}
h2{
    margin-top: 15px;
}
.box-pequena{
    display: flex;
    align-items: center;
}
p{
    margin-top: 10px;
    margin-left: 10px;
}